@model KnightsAndDragonsCalculatorApplication.Models.AdminModel
<ul class="nav nav-tabs">
    <li><a href="#armor" data-toggle="tab">Armor</a></li>
    <li><a href="#level" data-toggle="tab">Level</a></li>
</ul>
<div class="tab-content">
    <div class="tab-pane fade in active" id="armor">
        <div class="panel panel-default">
            <div class="panel-body">
                <form role="form"></form>
            </div>
        </div>
    </div>
    <div class="tab-pane fade" id="level">
        <div class="panel panel-default">
            <div class="panel-body">
                <form role="form"></form>
            </div>
        </div>
    </div>
</div>
@Scripts.Render("~/bundles/jquery")
<script>
</script>

